@import "mixins";

.fill-height {
	min-height: 100%;
}

.fill-width {
	min-width: 100%;
}

.fill {
	@extend .fill-height, .fill-width;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-row {
	@include flex((flex-direction: row));
	& > * {
		@extend .flex;
	}
}

.flex-col {
	@include flex((flex-direction: column));
	& > * {
		@extend .flex;
	}
}

.flex-fill {
	@include flex((flex-grow: 1));
}

.flex-center {
	@include flex((align-items: center));
}

.list-inline {
	padding-left: 0;
	margin-left: -0.5em;
	list-style: none;
	& > li {
		display: inline-block;
		padding: 0.5em;
	}
}
